* {
  font-family: 'Source Sans Pro', sans-serif;
  transition-property: background-color, color, border-bottom;
  transition-duration: 0.5s;
  box-sizing: border-box;
}

html.night body {
  background-color: #001a25;
}

body {
  background-color: white;
}

a {
  color: #ff4365;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*all navigator stuff*/
#navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 98%;
  padding: 1%;
  margin-top: 0%;
  z-index: 1000;
  font-size: 130%;
  background-color: white;
  border-bottom: solid black 2px;
  color: black;
}

html.night #navigator {
  background-color: #00151f;
  border-bottom: solid white 2px;
  color: white;
}
#title {
  flex-grow: 1;
  color: inherit;
}
#links {
  float: right;
  text-align: right;
  width: 60%;
}

.nav-link {
  cursor: pointer;
  margin: max(5px, 0.5%);
  padding: 0.5%;
  color: black;
}

.nav-link:visited {
  color: black;
}
html.night .nav-link {
  color: white;
}

.button {
  cursor: pointer;
  background-color: #00e8cc;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 5px;

  text-align: center;
}

html.night .button strong {
  color: black;
}

.button:hover {
  background-color: rgb(8, 170, 151);
}

#use-button {
  color: black;
}
#info {
  max-width: 1080px;
  margin: 32px auto 128px;
  padding: 0 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}
#info p,
#info h1,
#info h2,
#info h3 {
  margin: 0.7em 0 0.5em;
}

html.night body {
  color: white;
}

h2,
h3 {
  color: #ff4365;
}

code {
  color: #443f4b;
  font-size: 0.9em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
html.night code {
  color: #c4bfca;
}
code::before {
  content: '\`';
}
code::after {
  content: '\`';
}

/* day night toggle */
#toggle {
  box-sizing: content-box;
  flex-basis: 45px;
  align-self: center;
  background: #fff;
  border: 2px solid #00151f;
  width: 45px;
  height: 20px;
  cursor: pointer;
  border-radius: 20px;
}

#toggle.active {
  background: #00151f;
  border: 2px solid #fff;
}

#toggle-button {
  content: '';
  position: relative;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #00151f;
  border-radius: 50%;
}

#toggle.active > #toggle-button {
  left: 27px;
  background: #fff;
}
