main {
  display: flex;
  flex-wrap: wrap;

  padding: 20px;
  max-width: 100%;
}

#main {
  max-width: 100%;
  flex: 1;
}

.profile {
  display: inline-block;
}

.media {
  height: 50vh;
  display: grid;
  place-items: center;
}

.status {
  height: 50px;
}
.status p {
  margin: 0;
}

.media img {
  width: auto;
  max-width: 100%;
  max-height: 48vh;
  display: block;
}

#guess {
  display: block;
  width: 720px;
  max-width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
  margin: 5px auto;
}

#controls {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#stats {
  font-size: 1.2em;
  margin-top: 48px;
  min-width: max-content;
  width: 25vw;
}

input[type='submit'],
button,
#profile-dropdown {
  background-color: #00e8cc;
  text-decoration: none;
  border: none;
  padding: 8px 24px;
  margin: 3px;
  font-size: 1.2em;
  border-radius: 5px;
  text-align: center;
}

input[type='submit']:hover,
button:hover {
  background-color: rgb(8, 170, 151);
}

#save {
  margin-top: 0.5%;
}

#options-header,
#stats-header {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 115%;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

#login-button {
  color: black;
}

/* profile stuff*/
#profile {
  position: relative;
}
#profile-pic {
  border-radius: 5px;
  margin: 3px;
}

#profile-button {
  display: flex;
  align-items: center;
  font-size: 80%;
}

#profile-button.active {
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}

#profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: auto;
  right: 0;
  z-index: 1;
  padding: 0;
  margin-top: 2px;
}

#logout-button {
  align-self: stretch;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1.5px solid #e1e4e8;
  padding: 1%;
  font-size: 80%;
}

#login-text,
#profile-name {
  color: black;
  font-size: 60%;
  margin: 0 3px;
  padding: 0 2px;
  text-align: center;
}
#profile-button,
#profile-dropdown {
  display: none;
}
